[Unit]
Description=Billiam HTTPS socket
PartOf=billiam.service

[Socket]
ListenStream=443
NoDelay=true
Service=billiam.service
FileDescriptorName=billiam-https

[Install]
WantedBy=sockets.target
